@model IEnumerable<HospitalSystem_FinalProject.Models.Appointment>

@{
    ViewData["Title"] = "Randevularım";
}

<h1>Randevularım</h1>

<p>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createAppointmentModal">Yeni Randevu Al</button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Doctor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hospital)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppointmentDateTime)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Doctor.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hospital.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AppointmentDateTime)
                </td>
               
                <td>
                    <a asp-action="Edit" asp-route-id="@item.AppointmentId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.AppointmentId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.AppointmentId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Create Appointment Modal -->
<div class="modal fade" id="createAppointmentModal" tabindex="-1" role="dialog" aria-labelledby="createAppointmentModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createAppointmentModalLabel">Yeni Randevu Al</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="createAppointmentContent"></div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#createAppointmentModal').on('show.bs.modal', function (e) {
                $.get('@Url.Action("Create")', function (data) {
                    $('#createAppointmentContent').html(data);
                    bindHospitalChangeEvent();
                });
            });

            function bindHospitalChangeEvent() {
                $('#HospitalId').change(function () {
                    var hospitalId = $(this).val();
                    $.ajax({
                        url: '@Url.Action("GetDoctorsByHospital")',
                        type: 'GET',
                        data: { hospitalId: hospitalId },
                        success: function (data) {
                            var doctorSelect = $('#DoctorId');
                            doctorSelect.empty();
                            $.each(data, function (index, doctor) {
                                doctorSelect.append('<option value="' + doctor.doctorId + '">' + doctor.name + '</option>');
                            });
                        }
                    });
                });
            }

            $(document).on('submit', '#createAppointmentForm', function (e) {
                e.preventDefault();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Create")',
                    data: $(this).serialize(),
                    success: function (response) {
                        if (response.success) {
                            location.reload(); // Refresh the page
                        } else {
                            $('#createAppointmentContent').html(response);
                            bindHospitalChangeEvent(); // Re-bind the event after updating the content
                        }
                    }
                });
            });
        });
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
