@model IEnumerable<HospitalSystem_FinalProject.Models.Appointment>

@{
    ViewData["Title"] = "Randevularım";
}

<h1>Randevularım</h1>

<p>
    <a asp-action="Create">Yeni Randevu Al</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Doctor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hospital)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppointmentDateTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Doctor.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hospital.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AppointmentDateTime)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.AppointmentId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.AppointmentId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.AppointmentId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
